{% extends "base.html.j2" %}

{% block content %}
<div>
    <h1>Health check</h1>

    <h3>Student info:</h3>
    <div class="alert alert-primary d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
        <div>
            Name: {{ student['name'] }}<br>
            Group: {{ student['group'] }}<br>
            Username: {{ student['group'] }}-{{ student['number'] }}
        </div>
    </div>

    <h3>Instance hostname:</h3>
    <div class="alert alert-primary d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
        <div>
            {{ hostname }}
        </div>
    </div>

    <h3>S3 access status:</h3>
    {% if s3_connection %}
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
            S3 access
        </div>
    </div>
    {% else %}
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            S3 access
        </div>
    </div>
    {% endif %}

    <h3>Database status:</h3>
    {% if db_connection %}
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
            {{ db_connection.host }}:{{ db_connection.port }}
        </div>
    </div>
    {% else %}
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            Could not connect to database server: Connection refused
        </div>
    </div>
    {% endif %}

    <form method="post" action="">
        <input type="submit" class="btn btn-primary" name="submit_button" value="Reload config">
        <input type="submit" class="btn btn-primary" name="submit_button" value="Recheck S3 access">
        <input type="submit" class="btn btn-primary" name="submit_button" value="Reconnect to database">
        <input type="submit" class="btn btn-primary" name="submit_button" value="Recreate database">
    </form>
</div>
{% endblock %}
